## Description
- This file contains the code implementation of the Question 4 of Assignment 1 of the Machine Learning Course.

## Approach

- Starting by mapping all the values in the __quality__ feature to 0 and 1 based on the condition given. Next, I have normalized all the values in the other columns except Id since it seems to be a feature for identification.

In [1]:
import pandas as pd
import numpy as np

df= pd.read_csv('data/WineQT.csv')
df.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
130,7.2,0.73,0.02,2.5,0.076,16.0,42.0,0.99720,3.44,0.52,9.3,5,182
285,9.0,0.43,0.34,2.5,0.080,26.0,86.0,0.99870,3.38,0.62,9.5,6,410
927,7.5,0.61,0.26,1.9,0.073,24.0,88.0,0.99612,3.30,0.53,9.8,5,1305
243,11.9,0.57,0.50,2.6,0.082,6.0,32.0,1.00060,3.12,0.78,10.7,6,344
350,7.8,0.52,0.25,1.9,0.081,14.0,38.0,0.99840,3.43,0.65,9.0,6,496

In [2]:
df['quality'].value_counts()

quality
5    483
6    462
7    143
4     33
8     16
3      6
Name: count, dtype: int64

In [3]:
def helper(val):
  if(val>6):
    return 1
  else:
    return 0

df['quality']= df['quality'].map(helper)

In [4]:
for column in df.columns:
  if column not in ["quality", "Id"]:
    mn= df[column].min(); mx= df[column].max()
    df[column]= (df[column]- mn)/(mx-mn)

In [5]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
count,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000,1143.000000
mean,0.328417,0.281739,0.268364,0.111791,0.125096,0.218142,0.141041,0.489017,0.449618,0.196232,0.314171,0.139108,804.969379
std,0.154654,0.123036,0.196686,0.092871,0.078910,0.152992,0.115838,0.141341,0.123358,0.102035,0.166492,0.346210,463.997116
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.221239,0.186644,0.090000,0.068493,0.096828,0.089552,0.053004,0.403818,0.366142,0.131737,0.169231,0.000000,411.000000
50%,0.292035,0.273973,0.250000,0.089041,0.111853,0.179104,0.109541,0.485316,0.448819,0.173653,0.276923,0.000000,794.000000
75%,0.398230,0.356164,0.420000,0.116438,0.130217,0.298507,0.194346,0.570852,0.519685,0.239521,0.415385,0.000000,1209.500000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1597.000000